<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<script src="../static/js/util.js"></script>
<script src="../static/js/menu.js"></script>
<script src="../static/js/general.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/website.css">
<link rel="stylesheet" type="text/css" href="../static/css/menu.css">

<body>

<div class="non-sidebar-container" id="non-sidebar-container">
    <div class="navbar" id="navbar">
    </div>

    <div class=main-content" id="main-content">
    </div>
</div>

<div id="side-menu" class="side-menu">
  <div class="side-menu-link-holder">
      <a href='/' class="side-menu-link">Welcome</a>
  </div>
  <div class="side-menu-link-holder">
    <a href='https://m3orders.com/order/embermill-aksum' class="side-menu-link">Order Online</a>
  </div>
  <div class="side-menu-link-holder">
    <a href="#" class="side-menu-link">Menu</a>
  </div>
  <div class="side-menu-link-holder">
    <a href='/hours-and-location' class="side-menu-link">Location & Hours</a>
  </div>
  <div class="side-menu-link-holder">
    <a href='https://www.instagram.com/aksum805/' class="side-menu-link">Instagram</a>
  </div>
</div>

</body>
</html>
