<a href="/logout">Log out</a><br><br>

<link rel="icon" href="/static/favicon.png">

<form action="/account/admin-download-database" >
    <input type="submit" value="Download database" /><br>
</form>

<form action="/account/admin-download-menu-file" method=POST>
    <div id="email_address_label" for="email_address">Account email</div>
    <input id="email_address" name="email_address">
    <input type="submit" value="Download menu file" /><br>
</form>

<h2 id="users-without-urls-header">Users without URLS:</h2>
<div id="users-without-urls"></div>

<h2 id="users-with-urls-header">Users with URLS:</h2>
<div id="users-with-urls"></div>

<script>

usersWithoutURLsElement = document.getElementById("users-without-urls");
for (account of JSON.parse({{users_without_urls|tojson}})) {
  var elem = document.createElement("p");
  var br = document.createElement("br");
  elem.innerHTML = JSON.stringify(account);
  usersWithoutURLsElement.appendChild(elem);
  usersWithoutURLsElement.appendChild(br);
}

usersWithURLsElement = document.getElementById("users-with-urls");
for (account of JSON.parse({{users_with_urls|tojson}})) {
  var elem = document.createElement("p");
  var br = document.createElement("br");
  elem.innerHTML = JSON.stringify(account);
  usersWithURLsElement.appendChild(elem);
  usersWithURLsElement.appendChild(br);
}

</script>

<h1>Assign an account an order url</h1>

<form name="form" id="form" action="/account/admin-assign-order-url-to-account" method="POST">
  <div id="email_address_label" for="email_address">Account email</div>
  <input id="email_address" name="email_address" placeholder="account email">
  <div id="url_label" for="url">Order URL (ex: 'super-cucas-micheltorena')</div>
  <input id="url" name="url" placeholder="url">

  <input type="submit" id="submit" value="Submit" style="-webkit-appearance:none;">

</form>

<br>

<h1>Assign an account a website url</h1>

<form name="form2" id="form2" action="/account/admin-assign-website-url-to-account" method="POST">
  <div id="email_address_label2" for="email_address2">Account email</div>
  <input id="email_address2" name="email_address" placeholder="account email">
  <div id="url_label2" for="url2">Website URL (ex: 'www.super-cucas-micheltorena.com')</div>
  <input id="url2" name="url" placeholder="url">

  <input type="submit" id="submit" value="Submit" style="-webkit-appearance:none;">

</form>
