<a href="/logout">Log out</a><br><br>

<form action="/account/admin-download-database" >
    <input type="submit" value="Download database" /><br>
</form>

<p> Account emails without websites:</p>
<p> {{ account_emails_without_websites }} </p>

<p> Associate email with website url:</p>

<form name="form" id="form" action="/account/admin-assign-url-to-account" method="POST">
  <div id="email_address_label" for="email_address">Account email</div>
  <input id="email_address" name="email_address" placeholder="account email">
  <div id="url_label" for="url">URL (ex: 'super-cucas-micheltorena')</div>
  <input id="url" name="url" placeholder="url">

  <input type="submit" id="submit" value="Submit" style="-webkit-appearance:none;">

</form>
