<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/static/favicon.png">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/css/account-details.css">
<link rel="stylesheet" type="text/css" href="../static/css/account-menu.css">
<link rel="stylesheet" type="text/css" href="../static/css/signup-setup.css">


<script src="../static/js/account-details.js"></script>
<script src="../static/js/account-menu.js" id="account-menu-script" data-order_url={{order_url}} data-active_subscription={{active_subscription}} data-paid_for_website={{paid_for_website}} data-website_url={{website_url}} data-charges_enabled={{charges_enabled}}></script>

<script src="../static/js/validation.js"></script>

<head>
  <script>
    function pre_fill_form() {
        var account_details = JSON.parse({{account_details|tojson}});
        //closing_times
        var name = account_details["name"];
        var email = account_details["email"];
        var phone = account_details["phone"];
        var menu_url = account_details["menu_url"];
        var file_name = {{menu_filename|tojson}};

        var name_inp = document.getElementById("name");
        name_inp.value = name;
        var email_inp = document.getElementById("email");
        email_inp.value = email;
        var phone_inp = document.getElementById("phone");
        phone_inp.value = phone;
        var menu_url_inp = document.getElementById("menu_url");
        menu_url_inp.value = menu_url;
        var file_name_elem = document.getElementById("file_name");
        file_name_elem.innerHTML = file_name;
    }

    function validate_form() {
    // validate name
    var name_text = document.getElementById("name").value;
    if (name_text.length == 0) {
        var invalid_input_text = getErrorElement();
        invalid_input_text.innerHTML = "*Please enter your name";
        return;
    }

    // validate email
    var email_text = document.getElementById("email").value;

    var valid_email = validateEmail(email_text);

    if (!valid_email) {
        var invalid_input_text = getErrorElement();
        invalid_input_text.innerHTML = "*Please enter a valid email address";
        return;
    }

    // validate phone
    var phone_text = document.getElementById("phone").value;
    var valid_phone = validatePhone(phone_text);
    if (!valid_phone) {
        var invalid_input_text = getErrorElement();
        invalid_input_text.innerHTML = "*Please enter a valid phone number of the form *** - *** - ****";
        return;
    }

    // validate menu input
    var menu_url_text = document.getElementById("menu_url").value;
    var file_name = document.getElementById("file_name");
    if (menu_url_text.length == 0 && file_name.innerHTML == "") {
        var invalid_input_text = getErrorElement();
        invalid_input_text.innerHTML = "*Please either enter a menu URL or upload a menu file";
        return;
    }

    submit_form();
  }

    function run_on_load() {
        check_if_view_orders();
        run_on_resize();
        pre_fill_form();
    }

    window.onload = run_on_load;
    window.onresize = run_on_resize;
    window.document.title="Update Account Details";

  </script>
</head>

<style>

.center {
    margin-top: 15px;
}

const safariRenderHack = { opacity: count % 2 ? 1 : 0.99 };

</style>

<div class="top-half">

  <div class="topnav">
    <div class="topnav-left">
        <a class="hidden-text">Sign Out</a>
    </div>
    <img id="logo" class="logo" src="../static/m3_logo_text.png" width="200px" height="28.4px">
    <div class="topnav-right">
    <a class="topnav-right-text" href="/logout">Sign out</a>
    </div>
  </div>

  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="large-li" onclick="click_link('/account')"><a>Account Home</a></li>
      <li class="large-li" onclick="click_link('/account/orders')" id="menu_view_orders_block"><a id="menu_view_orders">View Orders</a></li>
      <li class="large-li" onclick="click_link('/account/account-details')"><a>Account Details</a></li>
      <li class="large-li" onclick="click_link('/account/closing-times')"><a>Closing Hours</a></li>
      <li class="large-li" onclick="click_link('https://dashboard.stripe.com')"><a>Stripe</a></li>
      <li class="large-li" onclick="click_link('/account/manage-subscription')"><a>Manage Subscription</a></li>
    </ul>
  </div>

  <div class="center">
        <div class="title">Update Account Details</div>
        <div class="cell example example1" id="example-1">

        <form id="form" class="main-form", method="POST" enctype="multipart/form-data">
          <fieldset>
            <div class="row">
              <label for="example1-name" data-tid="elements_examples.form.name_label">Name</label>
              <input id="name" data-tid="elements_examples.form.name_placeholder" placeholder="Jane Doe" name="name">
            </div>
            <div class="row">
              <label for="example1-email" data-tid="elements_examples.form.email_label">Contact email</label>
              <input id="email" data-tid="elements_examples.form.email_placeholder"  placeholder="janedoe@gmail.com" name="email">
            </div>
            <div class="row">
              <label for="example1-email" data-tid="elements_examples.form.email_label">Contact phone</label>
              <input id="phone" data-tid="elements_examples.form.email_placeholder"  placeholder="888-888-8888" name="phone">
            </div>

            <div class="row">
              <label for="example1-email" data-tid="elements_examples.form.email_label">Menu URL</label>
              <input id="menu_url" data-tid="elements_examples.form.email_placeholder" placeholder="www.tacojoes.com/menu" name="menu_url">
            </div>
          </fieldset>

          <div class="upload-holder">
              <div class="horizontal-holder">
                <a class="upload-instructions">Upload Menu:</a>
                <label for="file_upload" class="custom-file-button">Choose File</label>
                <input type="file" id="file_upload" hidden onchange="update_file_name()" name="menu_file">
                <a class="uploaded-file-name" id="file_name"></a>
              </div>
              <span class="asterisk">*not necessary if menu URL is provided</span>
          </div>

          <button class="button" id="submit-button" type="button" data-tid="elements_examples.form.pay_button" onclick="validate_form()">Update</button>

          <div class="invalid-input-text-holder">
              <a class="invalid-input-text"></a>
          </div>
        </form>

      </div>
    </div>

</div>

<div class="bottom-half">
  <div class="questions">Questions? Call 1-805-364-2694&nbsp&nbsp•&nbsp&nbspinfo@m3orders.com</div>
  <a href="/terms-of-use" class="terms-of-use">Terms of Use</a>
  <a href="/privacy-policy" class="privacy">Privacy</a>
</div>
</html>
