<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/static/favicon.png">

<link rel="stylesheet" type="text/css" href="../static/css/signup-setup.css">
<link rel="stylesheet" type="text/css" href="../static/css/signup-select-box.css">

<script>window.document.title="Setup Payment Processor";</script>

<script>
    function submit_form(chose_online) {
        var form = document.getElementById("form");
        var inp = document.getElementById("inp");
        if (chose_online) {
            inp.value = "online";
        } else {
            inp.value = "in-person";
        }
        form.submit();
    }


    function run_on_load() {
        var step = document.getElementsByClassName("step")[0];
        if ({{paid_for_website|tojson}}true) {
            step.innerHTML = "Step 5 of 5";
        } else {
            step.innerHTML = "Step 4 of 4";
        }
    }

    window.onload = run_on_load;
</script>

<style>

.img-orange {
    filter: invert(61%) sepia(34%) saturate(751%) hue-rotate(335deg) brightness(90%) contrast(97%);
}

.img-red {
    filter: invert(12%) sepia(58%) saturate(6815%) hue-rotate(351deg) brightness(84%) contrast(99%);
}

.title {
    margin-top: 8px;
}


</style>

<div class="top-half">
  <div class="topnav">
    <a href="/">
    <div class="topnav-left">
      <img src="../static/m3_logo.png" width="122.25px" height="41px">
    </div>
    </a>
    <div class="topnav-right">
    <a class="topnav-right-text" href="/logout">Sign out</a>
    </div>
  </div>

<div class="center">
        <div class="step"></div>
        <div class="title">Select Payment Processor</div>
        <div class="plans">
            <div class="plan" name="plan1" onclick="submit_form('in-person')">
                <div class="plan-title" style="color: #e38552">In-Person Payment</div>
                <div class="plan-caption">No additional cost</div>
                <img src="../static/in-person-payment.png" class="img-orange plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-orange"></img>
                    <div class="plan-bullet-text">Customers pay in-person</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-orange"></img>
                    <div class="plan-bullet-text">No need to get set up with an additional payment processor</div>
                </div>
            </div>
            <div class="plan" name="plan2" onclick="submit_form('online')">
                <div class="plan-title img-red">Online Payment</div>
                <div class="plan-caption">2.9% + $0.30 per order</div>
                <img src="../static/online-payment.png" class="img-red plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-red"></img>
                    <div class="plan-bullet-text">Create an account with our payment processor, Stripe, to receive payments</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-red"></img>
                    <div class="plan-bullet-text">Customers pay online</div>
                </div>
            </div>
        </div>
</div>

</div>
<div class="bottom-half">
  <div class="questions">Questions? Call 1-805-364-2694&nbsp&nbsp•&nbsp&nbspinfo@m3orders.com</div>
  <a href="/terms-of-use" class="terms-of-use">Terms of Use</a>
  <a href="/privacy-policy" class="privacy">Privacy</a>
</div>

<form id="form" method="POST">
    <input type="hidden" id="inp" name="payment-processor">
</form>

</html>
