<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="../static/css/signup-setup.css">
<link rel="stylesheet" type="text/css" href="../static/css/signup-select-box.css">

<script src="../static/js/signup-select-box.js"></script>

<style>

.img-teal {
    filter: invert(82%) sepia(17%) saturate(7120%) hue-rotate(149deg) brightness(89%) contrast(81%);
}

.img-blue {
    filter: invert(25%) sepia(82%) saturate(1992%) hue-rotate(214deg) brightness(95%) contrast(85%);
}

</style>

<div class="top-half">
  <div class="topnav">
    <a href="/">
    <div class="topnav-left">
      <img src="../static/m3_logo.png" width="122.25px" height="41px">
    </div>
    </a>
    <div class="topnav-right">
    <a style="text-decoration:inherit; color:black" href="/logout">Sign out</a>
    </div>
  </div>

<div class="center">
        <div class="step">Step 3 of 7</div>
        <div class="title">Select a signup fee</div>
        <div class="plans">
            <div class="plan" name="plan2" onclick="submit_form('')">
                <div class="plan-title img-teal">Basic Signup</div>
                <div class="plan-caption">$0</div>
                <img src="../static/basic_registration.svg" class="img-teal plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-teal"></img>
                    <div class="plan-bullet-text">Save money by supplying your own device</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-teal"></img>
                    <div class="plan-bullet-text">You will need a tablet or laptop in your restaurant to view your orders</div>
                </div>
            </div>
            <div class="plan" name="plan1" onclick="submit_form('price_1JFMNILGQW192ovflSPEK3sp')">
                <div class="plan-title img-blue">Tablet Included</div>
                <div class="plan-caption">$149</div>
                <img src="../static/tablet.svg" class="img-blue plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-blue"></img>
                    <div class="plan-bullet-text">Includes tablet for viewing orders in your restaurant</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-blue"></img>
                    <div class="plan-bullet-text">Includes stand</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-blue"></img>
                    <div class="plan-bullet-text">Includes long charger</div>
                </div>
            </div>
        </div>
</div>

</div>
<div class="bottom-half">
  <div class="questions">Questions? Call 1-805-284-7912&nbsp&nbsp•&nbsp&nbspinfo@m3orders.com</div>
  <a href="/terms-of-use" class="terms-of-use">Terms of Use</a>
  <a href="/privacy-policy" class="privacy">Privacy</a>
</div>

<form id="select-form" method="POST">
    <input type="hidden" id="inp" name="setup_fee_price_id">
</form>

</html>
