<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/static/favicon.png">

<link rel="stylesheet" type="text/css" href="../static/css/signup-setup.css">
<link rel="stylesheet" type="text/css" href="../static/css/signup-select-box.css">

<script src="../static/js/signup-select-box.js"></script>

<script>window.document.title="Select Plan";</script>

<style>

.img-orange {
    filter: invert(61%) sepia(34%) saturate(751%) hue-rotate(335deg) brightness(90%) contrast(97%);
}

.img-red {
    filter: invert(12%) sepia(58%) saturate(6815%) hue-rotate(351deg) brightness(84%) contrast(99%);
}


</style>

<div class="top-half">
  <div class="topnav">
    <a href="/">
    <div class="topnav-left">
      <img src="../static/m3_logo.png" width="122.25px" height="41px">
    </div>
    </a>
    <div class="topnav-right">
    <a class="topnav-right-text" href="/logout">Sign out</a>
    </div>
  </div>

<div class="center">
        <div class="step">Step 3 of 8</div>
        <div class="title">Select a plan</div>
        <div class="plans">
            <div class="plan" name="plan1" onclick="submit_form('monthly')">
                <div class="plan-title" style="color: #e38552">Monthly</div>
                <div class="plan-caption">$49 / month</div>
                <img src="../static/month.jpg" class="img-orange plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-orange"></img>
                    <div class="plan-bullet-text">Affordable monthly rate</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-orange"></img>
                    <div class="plan-bullet-text">No long-term commitment</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-orange"></img>
                    <div class="plan-bullet-text">Personalized Customer Service</div>
                </div>
            </div>
            <div class="plan" name="plan2" onclick="submit_form('yearly')">
                <div class="plan-title img-red">Annual</div>
                <div class="plan-caption">$468 / year ($39 / month)</div>
                <img src="../static/year.png" class="img-red plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-red"></img>
                    <div class="plan-bullet-text">20% discount over monthly plan</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-red"></img>
                    <div class="plan-bullet-text">Personalized Customer Service</div>
                </div>
            </div>
        </div>
</div>

</div>
<div class="bottom-half">
  <div class="questions">Questions? Call 1-805-284-7912&nbsp&nbsp•&nbsp&nbspinfo@m3orders.com</div>
  <a href="/terms-of-use" class="terms-of-use">Terms of Use</a>
  <a href="/privacy-policy" class="privacy">Privacy</a>
</div>

<form id="select-form" method="POST">
    <input type="hidden" id="inp" name="monthly_or_yearly">
</form>

</html>
