<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/static/favicon.png">

<link rel="stylesheet" type="text/css" href="../static/css/signup-setup.css">
<link rel="stylesheet" type="text/css" href="../static/css/signup-select-box.css">

<script src="../static/js/signup-select-box.js"></script>

<script>window.document.title="Select Website Option";</script>

<style>

.img-purple {
    filter: invert(22%) sepia(35%) saturate(5225%) hue-rotate(260deg) brightness(89%) contrast(86%);
}

.img-blue {
    filter: invert(25%) sepia(82%) saturate(1992%) hue-rotate(214deg) brightness(95%) contrast(85%);
}

.plan-img {
    width: 33% !important;
}

</style>

<div class="top-half">
  <div class="topnav">
    <a href="/">
    <div class="topnav-left">
      <img src="../static/m3_logo.png" width="122.25px" height="41px">
    </div>
    </a>
    <div class="topnav-right">
    <a class="topnav-right-text" href="/logout">Sign out</a>
    </div>
  </div>

<div class="center">
        <div class="title">Do You Have a Website?</div>
        <div class="plans">
            <div class="plan" name="plan2" onclick="submit_form('false')">
                <div class="plan-title img-purple">Yes, I already have a website</div>
                <div class="plan-caption">$0</div>
                <img src="../static/www-icon.png" class="img-purple plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-purple"></img>
                    <div class="plan-bullet-text">Use your existing website to link customers to online ordering</div>
                </div>
            </div>
            <div class="plan" name="plan1" onclick="submit_form('true')">
                <div class="plan-title img-blue">No, I need a website</div>
                <div class="plan-caption">$14/month</div>
                <img src="../static/globe.png" class="img-blue plan-img"></img>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-blue"></img>
                    <div class="plan-bullet-text">Includes website creation, hosting, and domain registration. No setup fees!</div>
                </div>
                <div class="plan-bullet-container">
                    <img src="../static/circle.png" class="plan-bullet img-blue"></img>
                    <div class="plan-bullet-text">Required if you do not already have a website</div>
                </div>
            </div>
        </div>
</div>

</div>
<div class="bottom-half">
  <div class="questions">Questions? Call 1-805-364-2694&nbsp&nbsp•&nbsp&nbspinfo@m3orders.com</div>
  <a href="/terms-of-use" class="terms-of-use">Terms of Use</a>
  <a href="/privacy-policy" class="privacy">Privacy</a>
</div>

<form id="select-form" method="POST">
    <input type="hidden" id="inp" name="need_website">
</form>

</html>
