<!DOCTYPE html>
<html>

<body>

<p>Choose payment plan</p>

<form action="/signup">
    <input type="submit" value="Sign up" /><br><br><br>
</form>

<form action="/signup/payment" method="POST">
    <input type="radio" id="monthly" name="price_id" value="price_1J8t5yLGQW192ovf4Tkd70Ta">
    <label for="monthly">Billed Monthly ($49.99/mo)</label><br>
    <input type="radio" id="yearly" name="price_id" value="price_1J8t6xLGQW192ovfioaRFBEB">
    <label for="yearly">Billed Yearly ($449/yr) **Save 25%!**</label><br>
    <button type="submit">Next</button>
</form>


</body>
</html>
